.details-panel {
  min-width: 255px;
  max-width: 255px;
  overflow-y: auto;
  padding: 30px 25px;
  overflow-y: auto;
  border-left: 1px solid @darkGrey;

  .form-div {
    padding-top: 20px;
  }

  input, textarea, select {
    margin-top: 10px;
  }

  .todo {
    border: 1px dotted orange;
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    button {
      width: 60px;
      height: 40px;

    }
  }


}
