.filter-panel {

  min-width: 255px;
  max-width: 255px;
  overflow-y: auto;
  border-right: 1px solid @darkGrey;
  padding: 30px 0 0 25px;
  overflow-y: auto;


  .logo {
    padding-bottom: 20px;
    h1 { padding-bottom: 5px; }
  }

  h2 {
    margin-top: 20px;
  }

  input { }

  .keyword {
    width: 160px;
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
  }
  .go {
    display: inline-block;
    width: 40px;
    height: 30px;
    border: 1px solid @darkGrey;
    border-left: none;
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
    color: @green;
    background-color: white;
    transition: 0.08s;
    font-weight: 600;
    font-size: 0.9em;
  }
  .go:hover {
    background-color: @green;
    color: white;
  }


  .new-trip {
    height: 40px;
    width: @inputWidth;
    background-color: white;
    color: @green;
    border: 2px solid @green;
    font-size: 1.1em;
    font-weight: 600;
    transition: 0.08s;
  }
  .new-trip:hover {
    background-color: @green;
    color: white;
  }

  .Select-control, .Select-menu-outer {
    width: @inputWidth;
  }

  form {
    padding: 30px 0;
    div { padding-top: 20px; }
    .Select {
      padding-top: 0;
      div { padding-top: 0; }
    }
  }

  label { }

  h3 {  }


}
