@darkBlue: #2e3a6c;
@darkGrey: #53555b;
@lightBlue: #d8e5f0;
@lightGrey: #d7dce0;
@red: #cb6d50;
@orange: #d68b1a;
@green: #537d5a;
@inputWidth: 200px;

@import 'reset.less';
@import 'grid-panel.less';
@import 'details-panel.less';
@import 'filter-panel.less';
@import 'widgets/react-widgets.less';

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: @darkGrey;
}

h1 {
  font-weight: 700;
  font-size: 1.8em;
  padding-bottom: 10px;
}

h2 {
  font-size: 1.3em;
  font-weight: 600;
}

input, textarea, .Select-control {
  font-size: 0.9em;
  margin-top: 6px;

}

input {
  height: 30px;
  border-radius: 3px;
  border: 1px solid @darkGrey;
  color: @darkGrey;
  padding: 0 10px;
}

input:focus, select:focus, textarea:focus, button:focus, .dt-picker, .selectbox {
  outline: none;
}
// .is-focused.Select-control {
//   border: none;
//   box-shadow: none;
// }

input, select, textarea, button {

}

.Select-control {
  height: 30px;
  border-radius: 3px;
  border: 1px solid @darkGrey;
  color: @darkGrey;
  background-color: white;
  border: 1px solid @darkGrey;
  padding-left: 10px;

  // -webkit-appearance: none;

  // -webkit-user-select: none;
  //      -moz-user-select: none;
  //       -ms-user-select: none;
  //           user-select: none;

    // -webkit-appearance: none;
       //-moz-appearance: radio-container;
            // appearance: none;

}
.Select-control:hover {
  cursor: pointer;
}


button {
  border-radius: 3px;
}
button:hover {
  cursor: pointer;
}



.app {
  max-width: 1600px;
  margin: auto;
  height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: stretch;
}




.details-panel, .filter-panel, .grid-panel {
  display: inline-block;
}

@media only screen and (min-width: 1600px)  {
  .filter-panel, .grid-panel, .details-panel { background-color: white; }
  body { background-color: @lightGrey; }
  .filter-panel { border-left: 1px solid @darkGrey; }
  .details-panel { border-right: 1px solid @darkGrey; }
}
