.rw-i-calendar:before {
    content: '\f073';
    font-family: FontAwesome;
}
.rw-i-clock-o:before {
  content: '\f017';
  font-family: FontAwesome;
}

.rw-btn-right:before {
  content: '\f054';
  font-family: FontAwesome;
}

.rw-btn-left:before {
  content: '\f053';
  font-family: FontAwesome;
}

.rw-datetimepicker {
    width: 160px;
}

#rw_1_input, #rw_2_input, #rw_3_input {
  margin: 0px;
}

.rw-datetimepicker.rw-has-both {
  margin-top: 0px;
}

.rw-popup-container {
  font-size: 0.9em;
}

.rw-state-focus { outline: none; }
